@import "tailwindcss";

:root {
  --background: #05030b;
  --foreground: #eae7ff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    "Apple Color Emoji",
    "Segoe UI Emoji";
}

::selection {
  background: rgba(168, 85, 247, 0.35);
}
